<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}} <!-- for partials, need the greater than sign and can't have space in the templating syntax like we do with title below -->
        <img class="portrait" src="/img/shaPaWithGat.png">
    </div>
    {{>footer}}
</body>



</html>